<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdminUserMapper">

	<resultMap id="BaseResultMap" type="com.example.model.AdminUser">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
        <result column="applicationServer" property="applicationServer" />
    </resultMap>
    
    <resultMap id="associationResultMap" type="com.example.model.AdminUser">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
        <association property="applicationServer" 
        	select="com.example.mapper.ApplicationServerMapper.selectById"
	    	column="applicationServer">
		</association>
    </resultMap>

    <select id="countAdminUser" resultType="int">
        select count(1) from admin_user 
    </select>

	<select id="selectById" resultMap="BaseResultMap">
        select * from admin_user where id = #{id} 
    </select>


</mapper>